<h1>Uusi resepti</h1>

<form id="new-recipe" class="pure-form pure-form-stacked" ng-submit="addRecipe()">
    <label for="new-recipe-name">Nimi</label>
    <input type="text" name="newRecipeName" ng-model="newRecipe.name">

    <fieldset>
        <legend>Ainesosat</legend>

         <table class="pure-table pure-table-horizontal">
             <thead>
                 <tr>
                     <th>Määrä</th>
                     <th>Ainesosa</th>
                     <th></th>
                 </tr>
             </thead>

             <tbody>
                 <tr ng-repeat="ingredient in newRecipe.ingredients">
                    <td>
                        <input type="text" ng-model="ingredient.amount">
                    </td>
                    <td>
                        <input type="text" ng-model="ingredient.name">
                    </td>
                    <td>
                        <a href="" class="pure-button red-button" ng-click="removeIngredient($index)"><i class="fa fa-times"></i></a>
                    </td>
                 </tr>

                 <tr class="pure-table-odd">
                    <td>
                        <input type="text" ng-model="newIngredient.amount" placeholder="Määrä">
                    </td>
                    <td>
                        <input type="text" ng-model="newIngredient.name" placeholder="Ainesosa">
                    </td>
                    <td>
                        <a href="" class="pure-button green-button" ng-click="addIngredient()"><i class="fa fa-plus"></i></a>
                    </td>
                 </tr>
             </tbody>
         </table>
    </fieldset>

    <fieldset>
        <legend>Valmistus</legend>

        <ol>
            <li ng-repeat="step in newRecipe.steps">
                <textarea rows="4" cols="40">{{step}}</textarea>
                <a href="" class="pure-button red-button" ng-click="removeStep($index)"><i class="fa fa-times"></i></a>
            </li>
        </ol>

        <fieldset>
            <legend>Lisää kohta</legend>

            <textarea rows="4" cols="40" ng-model="newStep"></textarea>
            <a href="" class="pure-button green-button" ng-click="addStep()"><i class="fa fa-plus"></i></a>
        </fieldset>

    </fieldset>

    <fieldset>
        <legend>Kategoriat</legend>

        <select id="new-recipe-categories" name="newRecipeCategories" ng-options="category for category in categories" ng-model="newRecipe.categories" multiple>

        </select>

        <label for="new-category">Uusi kategoria</label>
        <input type="text" name="newCategory" ng-model="newCategory">

        <a href="" class="pure-button green-button" ng-click="addCategory()"><i class="fa fa-plus"></i></a>
    </fieldset>

    <button type="submit" class="pure-button pure-button-primary">Lisää resepti</button>
</form>
