<div class="pure-g">
    <div id="recipe-header" class="pure-u-1">
        <h1>{{recipe.name}}</h1>
    </div>

    <div class="pure-u-1-2">
        <table id="ingredient-table">
            <tbody>
                <tr ng-repeat="ingredient in recipe.ingredients">
                    <td class="ingredient-amount">
                        {{ingredient.amount}}
                    </td>
                    <td>
                        {{ingredient.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pure-u-1-2">
        <ol>
            <li ng-repeat="step in recipe.steps">
                <p>
                    {{step}}
                </p>
            </li>
        </ol>
    </div>

    <div id="recipe-controls" class="pure-u-1">
        <a href="#/recipes/{{recipe.id}}/edit" class="pure-button pure-button-primary"><i class="fa fa-edit"></i> Muokkaa</a>
        <a href="" class="pure-button red-button"><i class="fa fa-trash-o"></i> Poista</a>
    </div>
</div>
