<div class="pure-g-r">
    <div id="recipe-search" class="pure-u-1">
        <h1>Etsi reseptejä</h1>

        <form id="search-form" class="pure-form">
            <input type="search" class="pure-input-rounded pure-input-2-3" ng-model="searchQuery" placeholder="Hakusanat" autofocus>
        </form>
    </div>

    <div id="search-results" class="pure-u-1">
        <ul>
            <li ng-repeat="recipe in recipes | multiFilter:searchQuery | orderBy:'name'">
                <a href="#/recipes/{{recipe.id}}">{{recipe.name}}</a>
            </li>
        </ul>
    </div>
</div>
